<table border=1>
<tr><td>Type</td><td><b>Rack PC</b></td></tr>
<tr><td>Make</td><td><b>Dell R210 II</b></td></tr>
<tr><td>CPU model</td><td><b>Intel(R) Xeon(R) CPU E5-2407 0 @ 2.20GHz</b></td></tr>
<tr><td>CPU nr. cores</td><td><b>4</b></td></tr>
<tr><td>CPU word size</td><td><b>64 bit</b></td></tr>
<tr><td>CPU cache</td><td><b>10240 KB</b></td></tr>
<tr><td>Memory</td><td><b>4 GB</b></td></tr>
<tr><td>OS</td><td><b>Scientific Linux release 6.3 (Carbon)</b></td></tr>
<tr><td>Kernel</td><td><b>2.6.32-279.el6.x86_64 #1 SMP x86_64 GNU/Linux</b></td></tr>
<tr><td>Compiler</td><td><b>gcc (GCC) 4.4.6 20120305 (Red Hat 4.4.6-4)</b></td></tr>
</table>
