<table border=1>
<tr><td>Type</td><td><b>Laptop PC</b></td></tr>
<tr><td>Make</td><td><b>Lenovo ThinkPad W540</b></td></tr>
<tr><td>CPU model</td><td><b>Intel(R) Core(TM) i7-4700MQ CPU @ 2.40GHz</b></td></tr>
<tr><td>CPU nr. cores</td><td><b>4 (2 CPU per core)</b></td></tr>
<tr><td>CPU word size</td><td><b>64 bit</b></td></tr>
<tr><td>CPU cache</td><td><b>6144 KB</b></td></tr>
<tr><td>Memory</td><td><b>16 GB</b></td></tr>
<tr><td>OS</td><td><b>Linux Mint 17 Qiana</b></td></tr>
<tr><td>Kernel</td><td><b>3.13.0-24-generic #47-Ubuntu SMP x86_64 GNU/Linux</b></td></tr>
<tr><td>Compiler</td><td><b>gcc (Ubuntu 4.8.2-19ubuntu1) 4.8.2</b></td></tr>
</table>
