<table border=1>
<tr><td>Type</td><td><b>PC</b></td></tr>
<tr><td>Make</td><td><b>Custom built</b></td></tr>
<tr><td>CPU model</td><td><b>Intel(R) Xeon(R) CPU E3-1240 v3 @ 3.40GHz</b></td></tr>
<tr><td>CPU nr. cores</td><td><b>2 (4 CPU per core)</b></td></tr>
<tr><td>CPU word size</td><td><b>64 bit</b></td></tr>
<tr><td>CPU cache</td><td><b>8192 KB</b></td></tr>
<tr><td>Memory</td><td><b>32 GB</b></td></tr>
<tr><td>OS</td><td><b>Scientific Linux release 6.5 (Carbon)</b></td></tr>
<tr><td>Kernel</td><td><b>2.6.32-431.23.3.el6.x86_64 #1 SMP x86_64 GNU/Linux</b></td></tr>
<tr><td>Compiler</td><td><b>gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-4)</b></td></tr>
</table>
