<table border=1>
<tr><td>Type</td><td><b>Laptop PC</b></td></tr>
<tr><td>Make</td><td><b>HP EliteBook 8560p</b></td></tr>
<tr><td>CPU model</td><td><b>Intel(R) Core(TM) i7-2640M CPU @ 2.80GHz</b></td></tr>
<tr><td>CPU nr. cores</td><td><b>2 (2 CPU per core)</b></td></tr>
<tr><td>CPU word size</td><td><b>64 bit</b></td></tr>
<tr><td>CPU cache</td><td><b>4096 KB</b></td></tr>
<tr><td>Memory</td><td><b>12 GB</b></td></tr>
<tr><td>OS</td><td><b>Fedora release 20 (Heisenbug)</b></td></tr>
<tr><td>Kernel</td><td><b>3.15.10-200.fc20.x86_64 #1 SMP x86_64 GNU/Linux</b></td></tr>
<tr><td>Compiler</td><td><b>gcc version 4.8.3 20140624 (Red Hat 4.8.3-1) (GCC)</b></td></tr>
</table>
